<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/javascripts/stylesheets.css">
    <title>Show reservations</title>
</head>

<body>

    <%dateList.forEach(detail=> {%>
        <p>
            <%= detail.forename %>
                <%= detail.surname %>
                    <%= detail.mobile %>
                        <form action="/reservations/renderEditForm/<%=detail._id%>" method="GET">
                            <button>Update Reservation</button>
                        </form>
                        <form action="/reservations/delete/<%= detail._id %>?_method=DELETE" method="POST">
                            <button>Remove Reservation</button>
                        </form>
        </p>

        <p>
            <%= detail.date %>
        </p>

        <%})%>



</body>

</html>